.theme-dark:root {
  --tw-bg-opacity: rgb(12 10 9);

  --tv-color-pane-background: var(--tw-bg-opacity);
  --tv-color-platform-background: var(--tw-bg-opacity);
  --tv-color-pane-background-secondary: var(--tw-bg-opacity);
  --tv-color-toolbar-button-text-hover: #b2b5be;
  --tv-color-toolbar-button-background-hover: var(--tw-bg-opacity);
  --tv-color-toolbar-button-text-active: #ffffff;
  --tv-color-toolbar-toggle-button-background-active: #3a3e5e;
  --tv-color-toolbar-toggle-button-background-active-hover: #3a3e5e;
  --tv-color-toolbar-button-background-expanded: var(--tw-bg-opacity);
  --tv-list-item-button-background-color: var(--tw-bg-opacity); 

    --tv-color-popup-background: var(--tw-bg-opacity);
   # --tv-color-popup-element-text: rgb(136, 24, 79);
   # --tv-color-popup-element-text-hover: rgb(74, 20, 140);
   # --tv-color-popup-element-background-hover: rgb(244, 143, 177);
   # --tv-color-popup-element-divider-background: rgb(251, 223, 244);
   # --tv-color-popup-element-secondary-text: rgb(74, 20, 140);
   # --tv-color-popup-element-hint-text: rgb(74, 20, 140);
   # --tv-color-popup-element-text-active: rgb(6, 6, 255);
    #--tv-color-popup-element-background-active: red;
   # --tv-color-popup-element-toolbox-text: rgb(136, 24, 79);
   # --tv-color-popup-element-toolbox-text-hover: rgb(74, 20, 140);
   # --tv-color-popup-element-toolbox-text-active-hover: rgb(74, 20, 140);
   --tv-color-popup-element-toolbox-background-hover: var(--tw-bg-opacity);
   --tv-color-popup-element-toolbox-background-active-hover: magenta;
}

html.theme-dark .chart-page {
  background-color: var(--tw-bg-opacity);
  font-family: 'Inconsolata', monospace;
  font-family: 'Roboto', sans-serif;
  font-family: 'Ubuntu Mono', monospace;
  border-style: solid;
  border-width: 1px;
  border-color: #292524;
}
html.theme-dark .chart-container {
  border: none;
}

html.theme-dark .chart-controls-bar {
  display: none;
  height: 0;
}

html.theme-dark .dialog-CPGBbsmc {
  background-color: var(--tw-bg-opacity);
}

html.theme-dark .toggleButton-3zv4iS2j {
  cursor: pointer;
}
html.theme-dark .toggleButton-3zv4iS2j .background-3zv4iS2j:hover {
  fill: #464a6e;
  stroke: #464a6e;
}

html.theme-dark .menuWrap-g78rwseC {
  background-color: var(--tw-bg-opacity) !important;
}

html.theme-dark .button-2Vpz_LXc.isInteractive-2Vpz_LXc.isGrouped-2Vpz_LXc {
  height: 26px;
  border-radius: 4px;
  margin: 0 1px;
}

html.theme-dark .button-2Vpz_LXc.isInteractive-2Vpz_LXc.isGrouped-2Vpz_LXc .value-2y-wa9jT {
  padding: 0 2px;
}

html.theme-dark .button-2Vpz_LXc:not(.isActive-2Vpz_LXc):hover {
  background-color: var(--tw-bg-opacity);
}

.layout-with-border-radius {
    border-radius: "10px";
}

html.theme-dark .button-2Vpz_LXc.isInteractive-2Vpz_LXc.isActive-2Vpz_LXc {
  color: #fff !important;
  background-color: var(--tw-bg-opacity);
}

html.theme-dark .button-2Vpz_LXc.isInteractive-2Vpz_LXc.isActive-2Vpz_LXc:hover::before {
  color: #fff !important;
  background-color: var(--tw-bg-opacity);
}

html.theme-dark .item-2IihgTnv:not(.isActive-2IihgTnv) {
  cursor: pointer;
  background-color: var(--tw-bg-opacity) !important;
  color: #b2b5be !important;
}

html.theme-dark .item-2IihgTnv:not(.isActive-2IihgTnv):hover,
html.theme-dark .container-3Ywm3-oo.selected-3Ywm3-oo {
  background-color: var(--tw-bg-opacity) !important;
}

html.theme-dark .container-3Ywm3-oo.selected-3Ywm3-oo {
  background-color: var(--tw-bg-opacity) !important;
}

html.theme-dark .dialog-2AogBbC7 {
  background-color: var(--tw-bg-opacity) !important;
}

html.theme-dark .close-2sL5JydP {
  color: #6f6e84 !important;
}

html.theme-dark .close-2sL5JydP:hover {
  background-color: transparent !important;
  color: #f7f7f7 !important;
  cursor: pointer;
}

html.theme-dark .shortcut-2IihgTnv,
html.theme-dark .shortcut-f5BaKrKq {
  color: #737682 !important;
}

html.theme-dark .item-f5BaKrKq.interactive-f5BaKrKq {
  cursor: pointer;
}

html.theme-dark .tab-DggvOZTm:not(.active-DggvOZTm):hover,
html.theme-dark .item-f5BaKrKq.interactive-f5BaKrKq:hover {
  background-color: var(--tw-bg-opacity) !important;
}

html.theme-dark .item-f5BaKrKq.interactive-f5BaKrKq.hovered-f5BaKrKq,
html.theme-dark .item-f5BaKrKq.interactive-f5BaKrKq:active {
  background-color: var(--tw-bg-opacity) !important;
}

html.theme-dark .wrap-3jbioG5e,
.button-i5o9yNmy,
.isInteractive-2Vpz_LXc,
.iconButton-i5o9yNmy,
.bg-5-QHyx-s,
.tab-DggvOZTm,
.row-NcPpqR9x,
.colorPicker-3gSLMlhu,
.title-DggvOZTm {
  cursor: pointer;
}

html.theme-dark .common-tooltip__body-36YLR71G {
  background-color: var(--tw-bg-opacity) !important;
}
html.theme-dark .common-tooltip__ear-holder-36YLR71G:after {
  display: none;
}

html.theme-dark .color-green-xRobF0EE.variant-primary-xRobF0EE {
  --ui-lib-button-default-color-content: #fff;
  --ui-lib-button-default-color-border: var(--accent);
  --ui-lib-button-default-color-bg: var(--accent);
  cursor: pointer;
}
html.theme-dark .color-green-xRobF0EE.variant-primary-xRobF0EE:hover {
  background: var(--tw-bg-opacity);
}

html.theme-dark .color-gray-xRobF0EE.variant-secondary-xRobF0EE {
  cursor: pointer;
}
html.theme-dark .color-gray-xRobF0EE.variant-secondary-xRobF0EE:hover {
  background: var(--tw-bg-opacity);
  border-color: var(--tw-bg-opacity);
}

html.theme-dark .drawer-164vy-kj .smallTabletSectionTitle-2R6OKuTS {
  color: var(--tw-bg-opacity) !important;
}
html.theme-dark .drawer-164vy-kj .normal-eqcGT_ow {
  display: none;
}

html.theme-dark .tv-floating-toolbar,
html.theme-dark .drawer-164vy-kj {
  background-color: var(--tw-bg-opacity) !important;
}

html.theme-dark .summary-3UYGeClB {
  color: var(--tw-bg-opacity) !important;
  padding-top: 4px;
  margin-top: 0;
}
html.theme-dark .summary-3UYGeClB:hover,
html.theme-dark .itemRow-1SBAfF8E:not(.active-1SBAfF8E):hover,
html.theme-dark .container-3Ywm3-oo:not(.disabled-3Ywm3-oo):not(.selected-3Ywm3-oo):hover {
  background-color: var(--tw-bg-opacity) !important;
  cursor: pointer;
}
