:root {
  font-family: "SFMono Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 1.5;
  font-weight: 400;

  color: #fff;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bc: #1B1B1B;
  --solid-bc: #1B1B1B;
  --bl: #0D0B0D;
  --wh: rgb(249, 249, 249);
}

svg {
  display: inline-flex;
}

body {
  margin: 0;
  place-items: center;
  min-width: 250px;
  min-height: 100vh;
  z-index: 100;
}

#root {
  display: flex;
  background: #0d0b0d url(/backgound.svg) repeat;
  z-index: 100;
  min-height: 100vh;
}

.TVChartContainer {
  mask-image: radial-gradient(circle 0 at top left, transparent 0, transparent 15px, black 16px);
}

#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 100%;
}