:root {
  font-family: 'Ubuntu Mono';
  line-height: 1.5;
  font-weight: 400;

  color: #fff;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --bc: #1B1B1B;
  --solid-bc: #1B1B1B;
  --bl: #0D0B0D;
  --wh: rgb(249, 249, 249);
}

svg {
  display: inline-flex;
}

#navbar_ul li {
  display: inline;
  padding: 10px;
}

body {
  margin: 0;
  place-items: center;
  min-width: 250px;
  min-height: 100vh;
  z-index: 100;
}

#root {
  display: flex;
  background: #0d0b0d url(/backgound.svg) repeat;
  z-index: 100;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button:disabled {
  color: #393939;
}

.pane {
  --mask: url("/pane.svg") 0 0 / 100% 100% no-repeat;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.multipool-token-balance {
  animation: sineWave 5s infinite linear;
}

.TVChartContainer {
  mask-image: radial-gradient(circle 0 at top left, transparent 0, transparent 15px, black 16px);
}